/* Стилизация аккордеона */
.accordion__item {
    border: 1px solid var(--grey-3);
    border-radius: 8px;
    margin-bottom: 8px;
}

.accordion__item:last-child {
    margin-bottom: 0;
}

.accordion__summary {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--black);
    padding: 32px;
}

.accordion__summary::marker {
    display: none;
    content: "";
}

.accordion__item div {
    color: var(--grey-4);
    padding: 32px;
}



