.footer {
    background-color: var(--white);
}

.footer__title {
        /* About */
    margin: 0;
    padding: 71px 0 32px;
    text-align: center;

    /* h2 */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    line-height: 48px;
    /* identical to box height, or 126% */

    /* Black */
    color: var(--black);


}

.footer__text {
    /* This project is a collection of professionally designed, pre-built, fully responsive HTML snippets you can drop into your projects. Get started by checking out our free preview components, or browsing the PNG previews in the categories you're most curious about. */
    margin: 0;
    /* p */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */
    text-align: center;

    /* Black */
    color: var(--black);



}